Repository Exiv2/exiv2, pull requests merged in 2021-11, with the labels that each got.

#1963 Add NikonFl7 makernotes group
  doc/templates/Makefile
  doc/templates/tags-nikon.html.in
  exiv2.md
  src/makernote_int.cpp
  src/nikonmn_int.cpp
  src/nikonmn_int.hpp
  src/tags_int.cpp
  src/tags_int.hpp
  src/tiffimage_int.cpp
  test/data/exiv2-issue1941-1.exv
  test/data/exiv2-test.out
  tests/bugfixes/github/test_issue_1941.py
Labels: enhancement, makerNote, prettyPrinter

#1994 Add camera models for NikonFl3 makernotes group
  src/makernote_int.cpp
  test/data/pr_1994_poc1.jpg
  test/data/pr_1994_poc2.jpg
  tests/bugfixes/github/test_pr_1994.py
Labels: enhancement, makerNote

#1967 Add readOrThrow and seekOrThrow to BasicIo
  include/exiv2/basicio.hpp
  src/basicio.cpp
  src/image.cpp
  src/jpgimage.cpp
  src/webpimage.cpp
Labels: enhancement, refactoring
